name: Update Issue Form

on:
  push:
    paths:
      - .upptimerc.yml
  workflow_dispatch: 

jobs:
  update-form:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install yq (YAML parser)
        run: |
          sudo add-apt-repository ppa:rmescandon/yq -y
          sudo apt-get update
          sudo apt-get install yq -y

      - name: Parse .upptimerc.yml and update issue form
        run: |
          # Extract the site names and format as a comma-separated list of quoted strings
          SITES=$(yq eval '.sites[].name' .upptimerc.yml | sed 's/.*/"&"/' | paste -sd, -)

          # Update the Issue Form YAML file with the formatted options
          yq e ".body[] |= (select(.id == \"expectedDown\").attributes.options = [$SITES])" -i .github/ISSUE_TEMPLATE/maintainance-event-form.yml
          yq e ".body[] |= (select(.id == \"expectedDegraded\").attributes.options = [$SITES])" -i .github/ISSUE_TEMPLATE/maintainance-event-form.yml


      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .github/ISSUE_TEMPLATE/maintainance-event-form.yml
          git commit -m "Update Issue Form with dynamic expectedDown options"
          git push
